#toc {
  width: 250px;
  margin-right: 5px;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

#toc h2 {
  font-size: 1.5em;
}

#toc ul {
  list-style-type: none;
  padding-left: 0;
}

#toc ul li {
  margin: 5px 0;
}

#toc ul li ul {
  margin-left: 20px;
}

#toc a {
  text-decoration: none;
  color: #0073e6;
}

#toc a:hover {
  text-decoration: underline;
}
